<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1 style="color: rgb(19, 21, 24);">404</h1>
        </div>
        <br><br><br>
        <h2><%=error%> 에러가 발생했습니다.</h2>
        <p>다시 시도해주세요.</p>
        <a href="/user/login">홈으로 돌아가기</a>
    </div>
</div>
