<script>
    var socket = io('http://gj.coo.kr');

    socket.on('sendmsg', function(msg){
        $('#messages').append($('<li>').text(msg));
    });      

    $('form').submit(function(){
        socket.emit('sendmsg', $('#msg').val());
        $('#msg').val('');
        return false;
    });
</script>

<div class="container">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="mesgs">
                <div class="msg_history">
                    <div id="messages" class="incoming_msg">
                        <!-- 임시로 잠깐 주석처리 -->
                        <!-- <div class="incoming_msg_img">
                            <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                        </div> -->
                        <!-- <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>Test중입니다~~~~~~~</p>
                                <span class="time_date">
                                    아이디 | 이름 | 현재시각 | 날짜</span>
                            </div>
                        </div>
                    </div>
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>Test중입니다~~~~~~~</p>
                            <span class="time_date">
                                현재시각 | 날짜</span>
                        </div>
                    </div>                    -->
                    </div>
                    <form action="">
                        <input id="msg" autocomplete="off" />
                        <button>Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>