<div class="container">
    <h3 class="text-center" style="margin-top: 15px">Messaging</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="mesgs">
                <div id="messages" class="msg_history">
                    <!-- 메시지 기록되는 공간 -->
                </div>

                <!-- 메시지 입력하는 input -->
                <form class="type_msg" action="">
                    <div class="input_msg_write">
                        <input type="text" id="msg" class="write_msg" placeholder="메세지를 입력하세요" autocomplete='off'/>
                        <input type="hidden" id="userid" value=<%=userid%>>
                        <input type="hidden" id="username" value=<%=username%>>
                        <input type="hidden" id="time" value=<%=time%>>
                        <button class="msg_send_btn">GO</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>

<script>
    var socket = io('http://<%=ip_address%>');

    /*
        접속되었을 때 실행(순서 1-1, 접속했을 때 알림을 의미)
    */
    socket.on('connect', function() {
        var name = username.value;

        // 이름을 입력하지 않으면 익명
        if (!name) 
            name = '익명';

        // 서버에 새로운 유저가 왔다고 알림
        socket.emit('newUser', name);
    });

    /*
        새로운 유저 알림(순서 1-3)
    */
        socket.on('connectNotice', function(connectNotice) { // connectNotice에 'socket.name님이 접속했습니다.'가 들어있는 상태
            var $connect_notice_div = $(`<div style="color: green;"><strong>${connectNotice}</strong></div>`);

            $('#messages')
            .append($connect_notice_div)
            .stop()
            .animate({ scrollTop: $('#messages')[0].scrollHeight }, 0); // 메세지가 길어질때 자동으로 스크롤바가 최하단으로 향함
        });

    /*
        나가는 유저 알림(순서 3-1, 나갔을 때 알림을 의미)
    */
        socket.on('disconnectNotice', function(disconnectNotice) {
            var $disconnect_notice_div = $(`<div style="color: red;"><strong>${disconnectNotice}</strong></div>`);

            $('#messages')
            .append($disconnect_notice_div)
            .stop()
            .animate({ scrollTop: $('#messages')[0].scrollHeight }, 0); // 메세지가 길어질때 자동으로 스크롤바가 최하단으로 향함
        });

    /*
        서버로부터 메세지가 수신됐을 때(보낸 사람만) (순서 2-4)
    */
    socket.on('sendMsg', function(chatData) { 

        //보낸 메세지
        var $outgoing_msg_div       = $(`<div class="outgoing_msg"></div>`);
        var $sent_msg_div           = $(`<div class="sent_msg"></div>`);
        var $sent_msg_text          = $(`<p class="sent_msg_text">${chatData.msg}</p>`);
        var $sent_time_date         = $(`<span class="time_date sent_time_date">${chatData.userid} | ${chatData.username} | ${chatData.time} </span>`);

        // 보낸 메세지 처리
        $sent_msg_div.append($sent_time_date);
        $sent_msg_div.append($sent_msg_text);
        $outgoing_msg_div.append($sent_msg_div);
        $('#messages')
        .append($outgoing_msg_div)
        .stop()
        .animate({ scrollTop: $('#messages')[0].scrollHeight }, 0); // 메세지가 길어질때 자동으로 스크롤바가 최하단으로 향함
    });

    /*
        서버로부터 메세지가 수신됐을 때(보낸 사람을 제외한 모든 사람) (순서 2-5)
    */
    socket.on('sendMsg_broadcast', function(chatData) {

        // 받은 메세지
        var $incoming_msg_div       = $(`<div class="incoming_msg"></div>`);
        var $received_msg_div       = $(`<div class="received_msg"></div>`);
        var $received_withd_msg_div = $(`<div class="received_withd_msg"></div>`);
        var $reveived_msg_text      = $(`<p class="recevied_msg_text">${chatData.msg}</p>`);
        var $received_time_date     = $(`<span class="time_date received_time_date">${chatData.userid} | ${chatData.username} | ${chatData.time} </span>`);

        // 받은 메세지 처리
        $received_withd_msg_div.append($received_time_date);
        $received_withd_msg_div.append($reveived_msg_text);
        $received_msg_div.append($received_withd_msg_div);
        $incoming_msg_div.append($received_msg_div);
        $('#messages')
        .append($incoming_msg_div)
        .stop()
        .animate({ scrollTop: $('#messages')[0].scrollHeight }, 0); // 메세지가 길어질때 자동으로 스크롤바가 최하단으로 향함
    });      

    /*
        메세지 전송 소스코드
    */
    $('form').submit(function() {
        
        if ($('#msg').val() == '') {
            alert('메세지를 입력해주세요.');    
            return false;
        }

        let chatData = {
            msg         : $('#msg').val(),
            userid      : $('#userid').val(),
            username    : $('#username').val(),
            time        : $('#time').val()
        };

        socket.emit('sendMsg', chatData); // 순서(2-1, 메세지를 보냈을 때 의미) 
        $('#msg').val('');
        return false;
    });
</script>