<div id="findPwd-container" class="container">
    <div class="row d-flex justify-content-center mx-auto">
        <div class="col-md-6 col-xs-12 div-style">
        <form  accept-charset="UTF-8" role="form" method="POST" action="/user/">
            <div class="d-flex justify-content-center mx-auto main-label" style="margin: 30px 0 10px 0;">
                <h4 style="margin-top: 50px;">비밀번호 찾기</h4>
            </div>
            <div class="form-group">
                <input type="text" name="uid" class="form-control text-box" placeholder="아이디">
            </div>
            <div class="form-group">
                <input type="text" name="phone" class="form-control text-box" placeholder="휴대폰 번호(-제외)">
            </div>
            <div class="form-group">
                <select name="question" class="form-control">
                    <option value="mother">자신의 어머니 성함은?</option>
                    <option value="birthDay">생년월일 6자리는?</option>
                    <option value="book">자신이 가장 감명깊게 읽었던 책 제목은?</option>
                    <option value="animal">자신이 가장 좋아하는 동물은?</option>
                </select>
                <input type="text" name="answer" class="form-control text-box" placeholder="위 질문의 답변을 입력해주세요">
            </div>
            <div class="form-group justify-content-center d-flex">
                <button type="submit" id="findPwd-btn" class="btn btn-danger button-submit btn-block">확인</button>
            </div>
        </form> 
    </div>
    </div>
</div>