<!doctype html>

</header>
  <p>
  <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3"> <small>© 2020 Copyright:  이 사이트는 APL KOREA에서 제작중입니다.
          <a href="#"> 가천대학교 컴퓨터공학 조재희/노지홍 </a> </small>
      </div>
  </footer>

  </body>
</html>
