<div id="future-worksheet-container" class="container">
    <div class="row">
        <div class="col-sm-20">
            <div class="container">
                <h2>예정 업무 일지</h2>
                <form role="form" method="POST" action="/userwork/upload_future_worksheet" style="width: 100%;">
                    
                    <textarea id="future-main-textarea" name="work" 
                        class="form-control" placeholder="예정된 주업무를 입력하세요"><%=futureWork%></textarea>
                    <textarea id="future-sub-textarea" name="sub_work" 
                        class="form-control" placeholder="예정된 부업무를 입력하세요"><%=sub_futureWork%></textarea>
                    <input type="submit" class="btn btn-primary " value="저장하기" style="padding: 5px 100px;">
                </form>
            </div>   
        </div>
    </div>
</div>