<div id="future-worksheet-container" class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="container">
                <h2>예정 업무 일지</h2>
                <form role="form" method="POST" action="/userwork/upload_future_worksheet">
                    <textarea id="future-main-textarea" name="work" class="form-control" placeholder="예정된 주업를 입력하세요"><%=futureWork[0].work%></textarea>
                    <textarea id="future-sub-textarea" name="sub_work" class="form-control" placeholder="예정된 업무를 입력하세요"><%=futureWork[0].work%></textarea>
                    <input type="submit" class="btn btn-primary btn-block" value="저장하기">
                </form>
            </div>   
        </div>
    </div>
</div>