<!DOCTYPE html>
<section id="inquire-worksheet-container" class="container">
    <div class="table table-bordered">
        <table id="inquire-table" class="tabler">
            <tbody>
                <tr class="table-warning">
                    <th width="30"></th>
                    <th width=470>지난업무</th>
                    <th width=470>금주업무</th>
                    <th width=470>예정된 업무</th>
                </tr>
                <tr>
                    <td height="280">주업무</td>
                    <td>
                        <div class="scroll-td">
                            <% lastWork.forEach(function (last_work, index) { %>
                            <div class="table-bordered">
                                <span>last_work.start_date ~ last_work.end_date</span><br><br>
                                <span>last_work.work</span>
                            </div>
                            <% }); %>
                        </div>
                    <td>
                        <div class="scroll-td">
                            <% thisWork.forEach(function (this_work, index) { %>
                                <div class="table-bordered">
                                    <span>this_work.start_date ~ this_work.end_date</span><br><br>
                                    <span>this_work.work</span>
                                </div>
                            <% }); %>
                        </div>
                    </td>
                    <td>
                        <div class="scroll-td">
                            <% futureWork.forEach(function (future_work, index) { %>
                                <div class="table-bordered">
                                    <span>future_work.start_date ~ future_work.end_date</span><br><br>
                                    <span>future_work.work</span>
                                </div>
                            <% }); %>   
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td height="280">부업무</td>
                    <td>
                        <div class="scroll-td">
                            <% sub_lastWork.forEach(function (sub_last_work, index) { %>
                            <div class="table-bordered">
                                <span>sub_last_work.start_date ~ sub_last_work.end_date</span><br><br>
                                <span>sub_last_work.work</span>
                            </div>
                            <% }); %>
                        </div>
                    </td>
                    <td>
                        <div class="scroll-td">
                            <% sub_thisWork.forEach(function (sub_this_work, index) { %>
                            <div class="table-bordered">
                                <span>sub_this_work.start_date ~ sub_this_work.end_date</span><br><br>
                                <span>sub_this_work.work</span>
                            </div>
                            <% }); %>
                        </div>
                    </td>
                    <td>
                        <div class="scroll-td">
                            <% sub_futureWork.forEach(function (sub_future_work, index) { %>
                            <div class="table-bordered">
                                <span>sub_future_work.start_date ~ sub_future_work.end_date</span><br><br>
                                <span>sub_future_work.work</span>
                            </div>
                            <% }); %>
                        </div>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
</section>