<nav class="navbar navbar-expand-md bg-light navbar-expand-md" style="margin-left: 10px;">
    <a class="navbar-brand" href="/userwork/inquire_worksheet">Home</a>
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/userwork/this_worksheet">금주 업무 등록</a>
            <a class="dropdown-item" href="/userwork/future_worksheet">예정 업무 등록</a>
            <a class="dropdown-item" href="/userwork/map">지도 검색</a>
            <a class="dropdown-item" href="/chat" target="_blank">채팅하기</a>
            <a class="dropdown-item" href="/userwork/search">키워드 검색</a>
            <a class="dropdown-item" href="/userwork/log">접속 로그 확인</a>
            <a class="dropdown-item" href="/user/logout">로그아웃</a>
        </div>
    </div>
</nav>