<nav id="nav-container" class="container">
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-dark worksheet-btn float-left" style="margin-right: 5px;"><a href="#">접속 로그 확인</a></button>
            <button class="btn btn-dark worksheet-btn float-left" style="margin-right: 5px;"><a href="/userwork/search">키워드 검색</a></button>
            <button class="btn btn-dark worksheet-btn float-left" style="margin-right: 5px;"><a href="/userwork/this_worksheet">금주 업무 등록</a></button>
            <button class="btn btn-dark worksheet-btn float-left"><a href="/userwork/future_worksheet">예정 업무 등록</a></button>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-dark logout-btn float-right"><a href="/user/login">로그아웃</a></button>
        </div>
    </div>
</nav>