<nav id="nav-container" class="container">
    <div class="row">
        <div class="col-sm-6">
            <button class="btn worksheet-btn float-left nav-btn"><a href="/userwork/log">접속 로그 확인</a></button>
            <button class="btn worksheet-btn float-left nav-btn"><a href="/userwork/search">키워드 검색</a></button>
            <button class="btn worksheet-btn float-left nav-btn"><a href="/userwork/this_worksheet">금주 업무 등록</a></button>
            <button class="btn worksheet-btn float-left nav-btn"><a href="/userwork/future_worksheet">예정 업무 등록</a></button>
            <button class="btn worksheet-btn float-left nav-btn"><a href="/chat" target="_blank">채팅하기</a></button> <!-- 새창으로 열림 -->
        </div>
        <div class="col-sm-6">
            <button class="btn logout-btn float-right"><a href="/user/login">로그아웃</a></button>
        </div>
    </div>
</nav>