<div id="findId-container" class="container">
    <div class="row d-flex justify-content-center mx-auto">
        <div class="col-md-6 col-xs-12 div-style">
            <div class="d-flex justify-content-center mx-auto main-label" style="margin: 30px 0 10px 0;">
                <h4 style="margin-top: 50px;">아이디를 찾았습니다</h4>
            </div>
            <div>
                가입된 아이디 : <span><%=userid%></span>
            </div>
            <div class="row">
                <div class="col-md-6">로그인하기</div>
                <div class="col-md-6">비밀번호 찾기</div>
            </div>
    </div>
    </div>
</div>