<section id="search-result-container" class="container">
    <div class="d-flex justify-content-center mx-auto main-label" style="margin: 20px 0 10px 0;">
        <h4>검색 결과</h4>
    </div>
    <div class="table table-bordered table-responsive">
        <table id="inquire-table" style="text-align: center;">
            <tbody class="table">
                <tr class="table-warning">
                    <th width="500px">날짜</th>
                    <th width="500px">아이디</th>
                    <th width="500px">이름</th>
                    <th width="500px">주업무</th>
                    <th width="500px">부업무</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
