<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1 style="color: rgb(19, 21, 24);">SUCCESS</h1>
        </div>
        <br><br><br>
        <h2>회원가입이 정상적으로 처리되었습니다.</h2>
        <a href="/user/login">로그인하기</a>
    </div>
</div>
