/* container */
@media (min-width: 992px) {
    .container { max-width: 97%; }
}

@media (min-width: 1200px) {
    .container { max-width: 97%; }
}
.container { padding-left: 0; padding-right: 0; }

body { background-color:rgba(255, 255, 255, 0.438); font-size:14px; color:rgb(0, 0, 0); } 
a { text-decoration: none; color: black; }
a:link { text-decoration: none; }
a:hover { text-decoration: none; }

/* nav.ejs */
#nav-container { margin-top: 30px; margin-bottom: 10px; }
.worksheet-btn { background-color: #639DDC; border: 1px solid #639DDC; margin-right: 5px;}
.worksheet-btn:hover { background-color: #3C89DB; border: 1px solid #3C89DB;}
.worksheet-btn > a { background-color: #639DDC; border: 1px solid #639DDC; color: white;}
.worksheet-btn > a:hover{ background-color: #3C89DB; border: 1px solid #3C89DB; color: white;}
.logout-btn { background-color: rgb(146, 209, 166); border: 1px solid rgb(146, 209, 166); color: white;}
.logout-btn:hover { background-color: rgb(97, 206, 132); border: 1px solid rgb(97, 206, 132); color: white;}

/* inquire_worksheet.ejs */
#inquire-worksheet-container { border: 1px solid #dee2e6; text-align: center; border-top: 1px solid rgba(255, 255, 255, 0.438); }
.table { border-collapse:collapse; width:100%; } 
.table tbody { overflow-y: auto; overflow-x: hidden; float: left; height: 610px; }
#inquire-table > tbody > tr { width: 100%;}


/* today_worksheet.ejs */
#today-worksheet-container > .row { width: 1000px; text-align: center; margin: auto; }
#this-main-textarea { width: 470px; height: 300px; margin-bottom: 20px; display: inline-block; }
#this-sub-textarea { width: 470px; height: 300px; margin-bottom: 20px; display: inline-block; }
#registed-worksheet-table { width: 470px; height: 300px; border: 1px solid rgb(206, 212, 218); }

/* future_worksheet.ejs */
#future-worksheet-container > .row { width: 1000px; text-align: center; margin: auto; }
#future-main-textarea { width: 470px; height: 300px; margin-bottom: 20px; display: inline-block; }
#future-sub-textarea { width: 470px; height: 300px; margin-bottom: 20px; display: inline-block; }
#registed-worksheet-table { width: 470px; height: 300px; border: 1px solid rgb(206, 212, 218); }

/* login.ejs */
.simple-login-container { width: 300px; max-width: 100%; margin: 50px auto; }
.simple-login-container h2 { text-align: center; font-size: 20px; }
.simple-login-container .btn-login { background-color: #639DDC; color:#fff; }
.simple-login-container .btn-login:hover { background-color: #3C89DB; color:#fff; }
.find-link { text-align: center; color: rgba(255, 255, 255, 0.438); }
.find-link > a { text-decoration: none; }

/* signup.ejs */
#signup-container { width: 600px; } 
#signup-btn { background-color: #639DDC; border: 1px solid #639DDC; }
#signup-btn:hover { background-color: #3C89DB; }

/* find_id.ejs */
#findId-container { width: 600px; } 
#findId-btn { background-color: #639DDC; border: 1px solid #639DDC; }
#findId-btn:hover { background-color: #3C89DB; }

/* find_pwd.ejs */ 
#findPwd-container { width: 700px; } 
#findPwd-btn { background-color: #639DDC; border: 1px solid #639DDC; }
#findPwd-btn:hover { background-color: #3C89DB; }

/* 404 Error Page */
#notfound { position: relative; height: 100vh; }
#notfound .notfound { position: absolute; left: 50%; top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
.notfound { max-width: 767px; width: 100%; line-height: 1.4; padding: 0px 15px; }
.notfound .notfound-404 { position: relative; height: 150px; line-height: 150px; margin-bottom: 25px; }
.notfound .notfound-404 h1 {
    font-family: 'Titillium Web', sans-serif; font-size: 186px; font-weight: 900; margin: 0px; text-transform: uppercase;
    background: url('../images/text.png'); -webkit-background-clip: text; /* -webkit-text-fill-color: transparent; */
    background-size: cover; background-position: center; }
.notfound h2 { font-family: 'Titillium Web', sans-serif; font-size: 26px; font-weight: 700; margin: 0; }
.notfound p { font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 500; margin-bottom: 0px; text-transform: uppercase; }
.notfound a {
    font-family: 'Titillium Web', sans-serif; display: inline-block; text-transform: uppercase; color: #fff;
    text-decoration: none; border: none; background: #5c91fe; padding: 10px 40px; font-size: 14px; font-weight: 700;
    border-radius: 1px; margin-top: 15px; -webkit-transition: 0.2s all; transition: 0.2s all; }
.notfound a:hover { opacity: 0.8; }
@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 110px;
    line-height: 110px;
  }
  .notfound .notfound-404 h1 {
    font-size: 120px;
  }
}

/* search_bar.ejs */
#search-bar-container { margin-top: 100px; }
.form-control-borderless { border: none; }
.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none; outline: none; box-shadow: none;
}

/* chat.ejs */
.inbox_msg { border: 1px solid #c4c4c4; clear: both; overflow: hidden; }

.received_msg { display: inline-block; padding: 0 0 0 10px; vertical-align: top; width: 92%; }
.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs { float: left; padding: 30px 15px 0 25px; width: 100%; }

 .sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg { float: right; width: 46%; }
.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history { height: 516px; overflow-y: scroll; }

/* map.ejs */
.map-search-bar { margin: 10px 0; }
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}